{% extends 'base.html' %}

{% block title %}Add a New User{% endblock %}


{% block content %}
<div class="signup-container">
    <div class="login-text">
        <h3>I already have an account.</h3>
        <a class="button sign-up no-account" href="/login">
            <strong>Log In</strong>
        </a>
    </div>

    <div class="signup-blob">
        <h1>Create An Account</h1>
    <div class="underline-signup"></div>
    <form class="signup-form" action="/add_user" method="POST">

        <div class="role-group">
            <label class="role-option">
                <input type="radio" name="userRole" value="1" checked>
                Student
            </label>

            <label class="role-option">
                <input type="radio" name="userRole" value="2">
                Parent
            </label>

            <label class="role-option">
                <input type="radio" name="userRole" value="3">
                Guardian
            </label>

            <label class="role-option">
                <input type="radio" name="userRole" value="4">
                Admin
            </label>

            <label class="role-option">
                <input type="radio" name="userRole" value="5">
                Partner
            </label>
        </div>


        <label class="signup-label">First Name:</label>
        <input class="entry-box" type="text" name="first_name" required>

        <label class="signup-label">Middle Name:</label>
        <input class="entry-box" type="text" name="middle_name">

        <label class="signup-label">Last Name:</label>
        <input class="entry-box" type="text" name="last_name" required>

        <label class="signup-label">Password:</label>
        <input class="entry-box" type="text" name="password" required>

        <label class="signup-label">Email:</label>
        <input class="entry-box" type="email" name="email" required>

        <label class="signup-label">Graduation Year:</label>
        <input class="entry-box" type="text" name="graduation_year">

        <button class="button-submit" type="submit">Submit</button>
    </form>
    </div>
</div>
{% endblock %}