{% extends 'base.html' %}

{% block title %}Add a New User{% endblock %}


{% block content %}
<div class="signup-container">
    <h1>Add a New User</h1>
    <form action="/add_user" method="POST">

        <div>
        <input type="radio" id="student" name="userRole" value="1" checked>
        <label class="signup-label" for="student">Student</label><br>
        </div>

        <div>
        <input type="radio" id="parent" name="userRole" value="2">
        <label class="signup-label" for="parent">Parent</label><br>
        </div>

        <div>
        <input type="radio" id="guardian" name="userRole" value="3">
        <label class="signup-label" for="guardian">Guardian</label><br>
        </div>

        <div>
        <input type="radio" id="partner" name="userRole" value="5">
        <label class="signup-label" for="partner">Partner</label><br><br>
        </div>

        <input class="entry-box" placeholder="First Name" type="text" name="first_name" required>

        <input class="entry-box" placeholder="Middle Name" type="text" name="middle_name">

        <input class="entry-box" placeholder="Last Name" type="text" name="last_name" required>

        <div class="password-box">
            <input placeholder="Password (8 characters minimum)" type="password" name="password" id="password" minlength="8" required>
            <img src="{{ url_for('static', filename='images/eyeclosed.png') }}" id="eyeicon" alt="hide-password">
        </div>
        <script>
            let eyeicon = document.getElementById("eyeicon")
            let password = document.getElementById("password")

            eyeicon.onclick = function(){
                if (password.type == "password"){
                    password.type = "text";
                    eyeicon.src = "{{ url_for('static', filename='images/eyeopen.png') }}";
                }else{
                    password.type = "password";
                    eyeicon.src = "{{ url_for('static', filename='images/eyeclosed.png') }}";
                }
            }

        </script>

        <input class="entry-box" placeholder="Email" type="email" name="email" required>

        <input class="entry-box" placeholder="Graduation Year" type="text" name="graduation_year">

        <button class="button-submit" type="submit">Submit</button>
    </form>
</div>
{% endblock %}