{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="signup-container">

    <h1>Login</h1>
    
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

    <form action="/auth_login" method="POST">
        <label class="signup-label">Username:</label>
        <input class="entry-box" type="text" name="username" required><br>

        <label class="signup-label">Password:</label>
        <input class="entry-box" type="text" name="password"><br>

        <button class="button-submit" type="submit">Submit</button>
    </form>
</div>
{% endblock %}