[DEFAULT]
SECRET_KEY = secretkey

[SESSION]
SESSION_PERMANENT = False
SESSION_TYPE = filesystem

[MYSQL_LOCAL]
USERNAME = root
PASSWORD =
HOSTNAME = localhost
DATABASE = flourish_bc
DATABASE_URI = mysql+pymysql://user:password@localhost:3306/flourish_bc

[MYSQL_PROD]
USERNAME =
PASSWORD =
HOSTNAME =
DATABASE =
DATABASE_URI =