{% extends 'base.html' %}

{% block title %}FBC - Events{% endblock %}

{% block content %}

<h1 class="title has-text-centered">Events Information</h1>

<div class="events-container">
    <div class="section">
        <div class="header">Upcoming Events</div>
        <div class="list">
            {% if events %}
                {% for event in events %}
                <div class="resource">
                    <div>
                        <span>{{ event.title }}</span><br>
                        <small>{{ event.start }} – {{ event.end }}</small><br>
                        <p>{{ event.description }}</p>
                    </div>
                    <a href="{{ event.url or '#' }}" target="_blank" class="arrow">➜</a>
                </div>
                {% endfor %}
            {% else %}
                <div class="resource">No events available</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
