{% extends 'base.html' %}

{% block title %}Email Verification{% endblock %}

{% block content %}

  <!-- Step 1: Request token button -->
  <div id="requestStep">
    <h2>Email Verification</h2>
    <p>Click the button below to request a verification email.</p>
    <button class="button sign-up" type="button" onclick="showEmailStep()">Request token</button>
  </div>

  <!-- Step 2: Enter email and send token -->
  <div id="emailStep" style="display: none; margin-bottom: 150px;">
    <h2>Enter your email</h2>
    <form action="/email/verifyEmail" method="POST">
      <input style="margin-bottom: 10px;" class="entry-box" type="email" name="email" value="{{ current_user.email }}" required>
      <br>
      <button class="button sign-up" type="submit">Send verification token</button>
    </form>
    <br>
    <p>Once sent, check your inbox and follow the link to verify.</p>
  </div>

  <script>
    <!--Separates email verification into two separate steps: a "request verification" page and a "send token" page-->
    function showEmailStep() {
      document.getElementById("requestStep").style.display = "none";
      document.getElementById("emailStep").style.display = "block";
    }
  </script>
</body>
{% endblock %}