form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    align-items: flex-start;
}

.signup-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    font-family: "Open Sans", sans-serif;
    flex-direction: column;
}

.signup-label {
    float: left;
    width: 500px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    margin-left: 5px;
    height: auto;
}

.entry-box {
    border: 1px solid black;
    border-radius: 10px;          
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-submit {
    background-color: #aaeb54;
    color: black;
    border: 1px solid grey;
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}
.button-submit:hover {
    background-color: #8ac926;
}

form input[type="radio"] {
  width: auto;
  height: 20px;
    display: inline-block;
  vertical-align: bottom;
}

.password-box {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.password-box img{
    width: 35px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 86%;
    transform: translateY(-50%);
}

select {
  border-radius: 8px;
  border: 1px solid #cccccc;
  font-size: 1rem;
}
