.signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    font-family: "Open Sans", sans-serif;
    flex-direction: row;
}

.signup-label {
    font-weight: 600;
    color: black;
    font-size: 0.9rem;
    margin-left: 5px;
    height: auto;
}

.entry-box {
    border: 1px solid black;
    border-radius: 10px;          
    box-sizing: border-box;}

.button-submit {
    background-color: #aaeb54;
    color: black;
    border: 1px solid grey;
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    width: 50%;
    align-self: center;
}
.button-submit:hover {
    background-color: #8ac926;
}

form input[type="radio"] {
  width: auto;
  height: 20px;
    display: inline-block;
  vertical-align: bottom;
}

.role-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.signup-blob {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}