{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}

<h1>Edit User {{ user.user_id }}: {{user.first_name}} {{user.last_name}} </h1>

<form method="post" action="{{ url_for('.edit_user', user_id=user.user_id) }}">
    <label class="edituser-label">First name:</label>
    <input class="edituser-entry-box" type="text" name="first_name" value="{{ user.first_name }}">
    <br>

    <label class="edituser-label">Middle name:</label>
    <input class="edituser-entry-box" type="text" name="middle_name" value="{{ user.middle_name }}">
    <br>

    <label class="edituser-label">Last name:</label>
        <input class="edituser-entry-box" type="text" name="last_name" value="{{ user.last_name }}">
    <br>

    <label class="edituser-label">Email:</label>
        <input class="edituser-entry-box" type="email" name="email" value="{{ user.email }}">
    <br>

    <label class="edituser-label">Graduation year:</label>
    <input class="edituser-entry-box" type="text" name="graduation_year" value="{{ user.graduation_year }}">
    <br>

    <label class="edituser-label">Username:</label>
        <input class="edituser-entry-box" type="text" name="username" value="{{ user.username }}">
    </label>
    <br>

    <label class="edituser-label">Role ID:
    <input class="edituser-entry-box" type="text" name="role_id" value="{{ user.role_id }}">
    <br>

    <button class="edituser-button-submit" type="submit">Save changes</button>
    <a class="button" href="{{ url_for('users.edit_user', user_id=user.user_id) }}">Cancel</a>
</form>
{% endblock %}
