{% extends 'base.html' %}

{% block title %}Edit Users{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
</head>
<body>

<h1 class="title">Admin Dashboard</h1>
<div class="header">Manage Users</div>
<br>
{% if users %}
  <table border="1">
    <thead>
      <tr>
        <th class="users_table">User ID</th>
        <th class="users_table">First Name</th>
        <th class="users_table">Middle Name</th>
        <th class="users_table">Last Name</th>
        <th class="users_table">Email</th>
        <th class="users_table">Graduation Year</th>
        <th class="users_table">Username</th>
        <th class="users_table">Role ID</th>
        <th class="users_table">Manage</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.user_id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.middle_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.graduation_year }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role_id }}</td>
        <td>
            <a href="{{ url_for('users.edit_user', user_id=user.user_id) }}">Edit</a>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No users found.</p>
{% endif %}


</body>
</html>
{% endblock %}