{% extends 'base.html' %}

{% block title %}Flourish Beaver County - Resource Directory{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Partners</h1>
        <p class="has-text-centered is-size-5 mb-5" style="color: #666; margin-top: 10px;">
            Those who help our community thrive!

        <div class="resources">
            <div class="searchfilter">
                <div class="searchcontainer">
                    <form class="searchform">
                        <input type="text" placeholder="Search resources..." class="searchinput" name="search">
                        
                    </form>
                </div>
            </div>

            <div class="examplegrid" id="resourcesgrid">
                {% for partner in partners %}
                <a href="{{ partner.url }}" class="resource-card-link" target="_blank" rel="noopener noreferrer">
                    <div class="exampleboxes">
                        <h3>{{ partner.name }}</h3>

                        {%  if partner.description %}
                        <br>
                        <h4>{{ partner.description }}</h4>
                        {% endif %}
                        {%  if partner.contact_name %}
                        <h6>{{ partner.contact_name }}</h6>
                        {% endif %}
                        {%  if partner.phone %}
                        <h6>{{ partner.phone }}</h6>
                        {% endif %}
                        {%  if partner.email %}
                        <br>
                        {%  if partner.address1 %}
                        <h6>{{ partner.address1 }}</h6>
                        {% endif %}
                        {%  if partner.address2 %}
                        <h6>{{ partner.address2 }}</h6>
                        {% endif %}
                        {%  if partner.city %}
                        <h6>{{ partner.city }}</h6>
                        {% endif %}
                        {%  if partner.state %}
                        <h6>{{ partner.state }}</h6>
                        {% endif %}
                        {%  if partner.zip %}
                        <h6>{{ partner.zip }}</h6>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        
    </div>
</section>
{% endblock %}
