{% extends 'base.html' %}

{% block title %}Calendar{% endblock %}

{% block head_extra %}
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js"></script>
  <script>

    document.addEventListener('DOMContentLoaded', function() {
      const calendarEl = document.getElementById('calendar')
      const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth'
      })
      calendar.render()
    })

  </script>
{% endblock %}


{% block content %}
    <div id="calendar"></div>
{% endblock %}



